extends layout

block content
  .row.justify-content-center.my-auto.w-100
    .col-md-10.col-lg-8.col-xl-6
      .w-100.d-flex.flex-column
        p.text-center
          i.bi-stopwatch.text-success.display-2
        p.lead.text-center Subscription is scheduled for cancellation.
        p.text-center You will still have access to our paid features during the remaining period of your subscription. If you wish to change your mind, you can re-subscribe anytime.
        p.text-center You can now close this window.
