doctype html
html.w-100.h-100(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/assets/main.css')
    title=title
  body.w-100.h-100.d-flex
    block content
    script(type='module', src='/assets/main.js')
